<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/angularfire.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/underscore/underscore.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-51983622-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7" ng-controller="DashCtrl as ctrl" class="ng-cloak">

  <ion-view title="Details">

  <div class="bar bar-header bar-light">
    <h1 class="title">What Should I Say?</h1>
  </div>

  <ion-content class="has-header has-footer">

  <div class="card" ng-show="ctrl.word()">
    <h1 class="item item-text-wrap bigger">
      {{ ctrl.word().value }}
    </h1>
  </div>

  <div class="center padding-bottom">
    <a class="button button-assertive button-outline button-large ion-thumbsdown icon-right" ng-click="ctrl.dislike()">
      {{ ctrl.word().dislikes || 0 }}
    </a>

    <a class="button button-balanced button-outline button-large ion-thumbsup icon-left" ng-click="ctrl.like()">
      {{ ctrl.word().likes || 0 }}
    </a>
  </div>

  <div class="card padding-top">
    <div class="item item-text-wrap tip">
      Have you ever found yourself in an awkward situation that you have no idea what to say? Maybe we can
      give a little help. Just call our SOS.
    </div>
  </div>

  </ion-content>


  <div class="bar bar-footer down item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="newExpression.value" placeholder="suggest something funny!" />
    </label>
    <button class="button" ng-click="ctrl.create(newExpression)">
      <i class="icon ion-checkmark-round" ng-show="ctrl.done()"></i>
      Add
    </button>
  </div>


  <div class="tabs tabs-icon-top tabs-assertive">
    <a class="tab-item full-width" ng-click="ctrl.random()">
      <i class="icon ion-help-buoy"></i>S.O.S.
    </a>
  </div>

  </ion-view>

  </body>
</html>
